.container {
    max-width: 960px;
}
.site-header {
    background-color: rgba(0, 0, 0, .85);
    -webkit-backdrop-filter: saturate(180%) blur(20px);
    backdrop-filter: saturate(180%) blur(20px);
}
.site-header a {
    color: #999;
    transition: ease-in-out color .15s;
}
.site-header a:hover {
    color: #fff;
    text-decoration: none;
}
.card {
    overflow: hidden;
    position: relative;
    border: 1px solid #CCC;
    border-radius: 8px;
    text-align: center;
    padding: 0;
    color: rgb(0, 0, 0);
  }

  .card .avatar {
    position: relative;
    margin-top: 15px;
    z-index: 100;
  }
  
  .card .avatar img {
    width: 100px;
    height: 100px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    border: 2pt solid rgba(0,0,30,0.8);
  }

  nav[data-toggle='toc'] {
    top: 50px;
  }
  
  /* small screens */
  @media (max-width: 768px) {
    /* override stickyness so that the navigation does not follow scrolling */
    nav[data-toggle='toc'] {
      margin-bottom: 42px;
      position: static;
    }
  
    /* don't expand nested items, which pushes down the rest of the page when navigating */
    nav[data-toggle='toc'] .nav .active .nav {
      display: none;
    }
  }